/opencv_dnn_1.1/.vs
/opencv_dnn_1.1/x64/Debug
/opencv_dnn_1.1/x64/Release
/opencv_dnn_1.1/autoColorParameters
/opencv_dnn_1.1/birdPoop
/opencv_dnn_1.1/grayscale_references
/opencv_dnn_1.1/imwrite_imgs
/opencv_dnn_1.1/TestDataImages
/opencv_dnn_1.1/testimages_area_answer
/opencv_dnn_1.1/testImages_exception
/opencv_dnn_1.1/testImages_resized
/opencv_dnn_1.1/yolov3 tiny
/opencv_dnn_1.1/견실결과들
/opencv_dnn_1.1/테스트 이미지 이름 수정해서 넣기 필요+레퍼런스들
